.c-s-label {
  font-weight: 700 !important;
}
.c-s-select {
  text-align: center !important;
}
.section-container {
  padding-bottom: 10px;
}
.class-section-thead {
  text-align: center;
}
.class-section-tr {
  text-align: center;
}
